<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
         body{
        display: flex;
          align-items: center;
          justify-content: center;
      }
      .container {
          width: 75vw;
          height: 100vh;
          border: 60%, 40%, 60%, 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          background-color: rgb(77, 82, 82);
      }
      .main{
        width: 30vw;
        height: 60vh;
        padding: 40px;
        background-color: rgb(197, 197, 197);
        border-radius: 15px;
        border: 2px solid black;
      }
    </style>
</head>
<body>
    <div class="container">
        <div class="main">
            <a href="/user/login"><button>Login</button></a>
            <a href="/user/cadastro"><button>Cadastro</button></a>
            <a href="/client"><button>Cliente</button></a>
            <a href="/product/"><button>Produto</button></a>
        </div>
    </div>
</body>
</html>